@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header,
footer {
    background-color: #1B2430;
    color: white;
}

header h1 {
    text-align: center;
    background-image: url('../src/planet_background.jpg');
    background-size: cover;
    padding: 80px 0;
}

main,
main .content,
nav,
.footer,
ul,
.planet_info {
    display: flex;
}

nav {
    justify-content: space-around;
    padding: 1em 0;
}

nav .logo {
    width: 20px;
}

nav ul {
    justify-content: space-between;
    gap: 15px;
}

main {
    flex-direction: column;
    align-items: center;
    margin: 0 25% 20px;
}

main img {
    height: 150px;
}

main .content {
    gap: 50px;
    margin-bottom: 30px;
    padding-top: 40px;
}

main article h2 {
    font-size: 25px;
}

main article h2,
main article p {
    margin-bottom: 10px;
}

main article p {
    text-align: justify;
}

main .content:nth-of-type(2n) {
    flex-direction: row-reverse;
}

footer {
    padding: 0 10%;
}

.footer {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer .ft_cols {
    display: flex;
    justify-content: center;
    gap: 150px;
    border-bottom: 2px solid white;
    margin-bottom: 2em;
}

footer .ft_cols section {
    margin-bottom: 2em;
}

footer h2 {
    text-align: center;
    padding-bottom: 20px;
}

footer ul {
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

footer .credits {
    text-align: center;
}



/* -------------------------------------------------------------- */


ul {
    list-style-type: none;
}

a {
    text-decoration: none;

}

header a {
    color: #D9D9D9;
}

footer a {
    color: #9F9F9F;
}

a:hover {
    text-decoration: underline;
}



/* ----------------------------------------------- */


.asteroid {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    position: relative;
    margin: 40px 0;
}

.asteroid:before,
.asteroid:after {
    content: "";
    position: absolute;
    top: 50%;
    height: 3px;
    background: #000;
    width: 325px;
}

.asteroid:before {
    left: -350px;
}

.asteroid::after {
    right: -350px;
}




.f_giants {
    position: relative;
}

.f_giants:before,
.f_giants:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 2px;
    background: #C4C4C4;
    height: 165px;
}

.f_giants:before {
    left: -75px;
}

.f_giants::after {
    right: -75px;
}




.planet_info {
    gap: 10px;
}

.planet_info p {
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 700;
}

.planet_info p:last-of-type {
    background-color: #1B2430;
}

.type_t {
    background-color: #D6D5A8;
    color: #1B2430;
}

.type_g {
    /* background-color: #816797; */
    background: linear-gradient(#816797, #51557E);
}

.type_g,
.discovery_date {
    color: white;
}